/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
  border-radius: 12px;
}

.skills {
  text-align: right; /* Right-align text */
  border-radius: 12px;
  padding-top: 2px; /* Add top padding */
  padding-bottom: 2px; /* Add bottom padding */
  color: white; /* White text color */
}

.c_cpp {width: 90%; background-image: linear-gradient(to right,#803ca8, #f7858d);}
.python{width: 80%; background-image: linear-gradient(to right,#803ca8, #f7858d);} 
.java {width: 70%; background-image: linear-gradient(to right,#803ca8, #f7858d);} 
.js {width: 65%; background-image: linear-gradient(to right,#803ca8, #f7858d);} 
.html_css {width: 60%; background-image: linear-gradient(to right,#803ca8, #f7858d);} 
